@charset "UTF-8";
/* Others */
/* Card-size */
/* Timing  */
.page {
  font-family: Roboto, sans-serif;
}

.page {
  background: #ffffff;
  color: #212121;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Скидання  */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.container {
  max-width: 767px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

.sotials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotials__link:hover, .sotials__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header__container {
    padding: 0 15px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.header__conts {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .header__conts {
    display: none;
    visibility: hidden;
  }
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover, .header__item:focus {
  color: #2196f3;
  fill: #2196f3;
  stroke: #2196f3;
}

.logo__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}
.logo__link--header {
  color: #212121;
  margin-right: 93px;
  display: inline;
}
.logo__link--header-web {
  color: #2196f3;
}
.logo__link--footer {
  display: block;
  color: #ffffff;
  margin-bottom: 20px;
}
.logo__link--footer-web {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .logo__link {
    padding: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .logo__link {
    margin-right: auto;
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.nav {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link--active {
  position: relative;
  color: #2196f3;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .nav__link--active {
    padding-bottom: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link--active {
    padding-bottom: 40px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__item {
  display: block;
}

.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_sm-@1x.png);
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_sm-@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_sm-@2x.png);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_sm-@2x.png);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_md-@1x.png);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_md-@1x.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_md-@2x.png);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_md-@2x.png);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_lg-@1x.png);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_lg-@1x.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/bg_img_lg-@2x.png);
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg_img_lg-@2x.png);
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    padding: 118px 0;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.3636363636;
  }
}

.hero__btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (max-width: 1199px) {
  .hero__btn {
    padding: 10px 23px;
    width: 200px;
    height: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}

.modal__title {
  font-size: 20px;
  line-height: 23px/20px;
  display: block;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.5;
  }
}

.modal__label {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 14/12;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.modal__label--name {
  display: inherit;
  margin-bottom: 4px;
}
@media screen and (max-width: 1199px) {
  .modal__label {
    margin-bottom: 20px;
  }
}

.modal__comment {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:hover, .modal__comment:focus {
  border-color: #2196f3;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: transparent;
  padding: 0 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.name-label:last-child {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__name {
  display: block;
  margin-bottom: 4px;
}

.modal__icon {
  position: absolute;
  bottom: 10px;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox {
  position: relative;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .modal__checkbox {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .modal__checkbox-text {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.modal__checkbox--icon {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 16px;
}
@media screen and (min-width: 1200px) {
  .modal__checkbox--icon {
    left: 4px;
  }
}

.modal__checkbox--input {
  opacity: 0;
}

.modal__form--icon-check {
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--icon-uncheck {
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox--input:checked + .modal__checkbox--icon .modal__form--icon-check {
  opacity: 1;
}

.modal__checkbox--input:checked + .modal__checkbox--icon .modal__form--icon-uncheck {
  opacity: 0;
}

.form__send-btn {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__send-btn:hover, .form__send-btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 32px;
  height: 32px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close__btn:hover, .close__btn:focus {
  fill: #2196f3;
}

.span-link {
  color: #188ce8;
  text-decoration: underline;
}

.features {
  display: block;
  margin: 0 auto;
}

.features__title {
  opacity: 0;
}

.features__list {
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .features__list {
    max-width: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 369px;
        flex-basis: 369px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .features__item {
    width: 100%;
  }
}

.features__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  height: 120px;
  max-width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .features__svg {
    max-width: 250px;
    margin: 30px auto;
  }
}
@media screen and (min-width: 480px) {
  .features__svg {
    max-width: 450px;
  }
}
.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__text {
    display: inline-block;
    width: 354px;
  }
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.work__card--container {
  position: relative;
  z-index: 1;
}
.work__card--text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 767px) {
  .team {
    padding: 60px 0;
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .team__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 369px;
        flex-basis: 369px;
  }
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__descp {
  padding: 30px 0px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sotials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sotials__link:hover, .sotials__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.clients {
  display: block;
  margin: 0 auto;
  padding-top: 102px;
}
@media screen and (max-width: 767px) {
  .clients {
    padding: 60px 0;
  }
}

.clietns__title {
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-size: 36px;
}
@media screen and (max-width: 450px) {
  .clietns__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.clients__list {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  -ms-flex-preferred-size: 210;
      flex-basis: 210;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: 226;
        flex-basis: 226;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: 175;
        flex-basis: 175;
  }
}

.clients__link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  padding: 0;
}

.footer {
  background: #2f303a;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7142857143;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer__first {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__first {
    text-align: center;
    margin-right: 165px;
    margin-bottom: 60px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__first {
    text-align: start;
  }
}

.footer__adress--item:not(:last-child) {
  margin-bottom: 9px;
}
.footer__adress--map {
  width: 220px;
  display: block;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress--map:hover, .footer__adress--map:focus {
  color: #2196f3;
}
.footer__adress--link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__adress--link:hover, .footer__adress--link:focus {
  color: #2196f3;
}

.footer__sec {
  margin-left: 70px;
}
.footer__sec--text {
  text-transform: uppercase;
  line-height: 1.1428571429;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__sec {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__sec {
    text-align: center;
    margin-left: 0;
    margin-right: auto;
  }
}
.footer__sec--sotials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer__sec--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sec--link:hover, .footer__sec--link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
@media screen and (max-width: 767px) {
  .footer__sec {
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__sec {
    text-align: center;
  }
}

.footer__third {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .footer__third {
    margin-left: 0;
  }
}
@media screen and (max-width: 1199px) {
  .footer__third {
    text-align: center;
    margin: 0 auto;
  }
}

.footer__text {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer__text {
    text-align: center;
  }
}

.footer__label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 767px) {
  .footer__label-container {
    max-width: 450px;
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .footer__label-container {
    display: block;
  }
}

.footer__mail--input {
  display: block;
  color: #ffffff;
  width: 450px;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail--input:hover, .footer__mail--input:focus {
  border-color: #2196f3;
}
@media screen and (max-width: 450px) {
  .footer__mail--input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__mail--input {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__mail--input {
    max-width: 358px;
  }
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__btn:hover, .footer__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__mail--icon {
  margin-left: 10px;
}

.portf {
  background: #ffffff;
  color: #212121;
  letter-spacing: 0.03em;
}

/* Заховав заголовок (У index.html також) */
.portf__title {
  opacity: 0;
}

/* Кнопки + ховел і фокус  */
.portf__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .portf__list {
    width: 575px;
    gap: 15px 8px;
    margin: 0 auto 30px;
  }
}

.portf__button {
  cursor: pointer;
  font-family: inherit;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf__button:hover, .portf__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portf__gallary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .portf__gallary {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portf__card {
  background: #ffffff;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portf__card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portf__card {
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
  }
}

img {
  width: 100%;
}

.portf__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf__link:hover, .portf__link:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portf__img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portf__card-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf__link:hover .portf__card-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portf__img--desc {
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff;
}

/* h2 - під картинками */
.portf__card--container {
  padding: 20px 24px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-color: #eeeeee;
  max-width: 450px;
}
@media screen and (min-width: 1200px) {
  .portf__card--container {
    width: 370px;
  }
}

.portf__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
/* Текст під h2 */
.portf__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.header__menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.menu-container {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__conts {
  margin-bottom: 64px;
  font-weight: 500;
}
.menu__conts--link-tel {
  display: block;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__conts--link-tel:hover, .menu__conts--link-tel:focus {
  color: #188ce8;
}
.menu__conts--link-email {
  display: block;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__conts--link-email:hover, .menu__conts--link-email:focus {
  color: #2196f3;
}

.menu__social--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__social--item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__social--item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu__social--item:hover, .menu__social--item:focus {
  color: #2196f3;
}

.menu__nav {
  margin-bottom: auto;
}
.menu__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
}
.menu__nav--item {
  font-size: 40px;
  font-weight: 500px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__nav--item:focus, .menu__nav--item:hover {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .menu__nav--link {
    font-weight: 500;
  }
}

.menu__nav--link--active {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */