.clients {
  display: block;
  margin: 0 auto;
  padding-top: 102px;

  @media screen and (max-width: 767px) {
    padding: 60px 0;
  }
}
.clietns__title {
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  font-size: 36px;

  @media screen and (max-width: 450px) {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
  }
}

.clients__list {
  width: inherit;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.clients__item {
  flex-basis: calc((450 - 30) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((738 - (30 * 2)) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((1200 - (30 * 5)) / 6);
  }
}

.clients__link {
  border: 1px solid $iconLinkCl;
  border-radius: 4px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $iconLinkCl;
  transition: background-color $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1),
    fill $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    fill: $actionalyTxtCl;
    border-color: $actionalyTxtCl;
  }
}
.clients__icon {
  padding: 0;
}
