.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;

  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/bg_img_sm-@1x.png);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_img_sm-@2x.png);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_img_md-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg_img_md-@2x.png);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/bg_img_lg-@1x.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg_img_lg-@2x.png);
    }
  }

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;

  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;

  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $whiteTxtCl;
  margin: 0 auto 30px;
  max-width: 360px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 696px;
    line-height: calc(60 / 44);
  }
}
.hero__btn {
  transition: background-color $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $activeBtnCl;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }

  @media screen and (max-width: 1199px) {
    padding: 10px 23px;
    width: 200px;
    height: 50px;
  }
}
